@import "settings.css";

.tag {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isOpen {
  z-index: 100;

  .overlay {
    opacity: 1;
  }
}

.body {
  background: $white;
  position: relative;
  z-index: 2;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
